html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-image: url("galaxy.jpeg");
    background-size: cover;       
    background-repeat: no-repeat;  
    background-position: center;   
    background-attachment: fixed;
 }
p{
	font-family:Arial, san-serif;
	font-size:45px;
	color:white;
}
h1{
	font-family:Arial, san-serif;
	font-size:80px;
	color: white;
}
h2{
	font-family:Arial, san-serif;
	font-size:50px;
	color: white;
}
h3{
	font-family:Arial, san-serif;
	font-size:45px;
	color: white;
}
.navbar{
	background-color: black;
	border-radius: 40px;
}
.navbar ul{
	overflow: auto;
}
.navbar li{
	float: left;
	list-style: none;
	margin: 15px 15px;
}
.navbar a{
	padding: 17px 17px;
	text-decoration: none;
	color: white;
	margin: 15px 15px;
}

